@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: #0041C2;
    background-image: url(https://elyon.sch.id/landing_page/wp-content/uploads/2024/05/DSC07493-2-1024x833.jpg );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-blend-mode: luminosity;
}



h1 {
    border: 5px solid black;
    width: fit-content;
    margin: 10px auto;
    background-color:  #0041C2;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 70px;
    font-weight: 300;
    text-align: center;
}

h1:hover{
    color:rgb(245, 241, 19);
}

h2 {
    background-color:  #0041C2;
    width: fit-content;
    margin: 0 auto;
    border: 3px solid black;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

h2:hover{
    color:rgb(245, 241, 19);
}




h3 {
    background-color:  #0041C2;
    border: 3px solid black;
    width: fit-content;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: left;
}

h3:hover{
    color:rgb(245, 241, 19);
}

p{
    background-color:  #0041C2;
    width: fit-content;
    border: 2px solid black;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 35px;
    font-weight: 50;
    text-align: left;
}
p:hover{
    color:rgb(245, 241, 19);
}

.Laufey{
    background-color:  #0041C2;
    width: fit-content;
    border: 1px solid black;
    padding: 15px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

ol:hover{
    color:rgb(245, 241, 19);
}

img{
    border: 3px solid black;
    padding: 1px;
    margin: 1px;
    height: 250px;
    width: 400px;
}

.Pancake{
   
    float: bottom right;
    
}

.Performative{
    background-color:  #0041C2;
    border: 1px solid black;
    width: fit-content;
    
    padding: 15px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

ul:hover{
    color:rgb(245, 241, 19);
}

.cry{
    background-color: #0041C2;
    
 
    border: 3px solid black;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-size: 50px;
  
    text-align: center;
    margin: 100px;
    padding: 1px;
   
}

.idk{
    
    text-align: center;
}

.gr{
    text-align: center;
}

button {

    margin: 50px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 100px;
    background-color:  #0041C2;
    border: 5px solid black;
    
    
}

button:hover{
    color:rgb(245, 241, 19);
    background-color: blue;
}




